Diagnostics:
  Suppress: pragma-pack


CompileFlags:   
  Add: [-m32, -ffreestanding, -no-pie, -fno-pie, -mno-sse, -fno-stack-protector, -masm=intel]
  
---

If:
	PathMatch: .*\.c
CompileFlags:
  Add: [-xc, -std=c99]
---

If:
	PathMatch: .*\.h
CompileFlags:
  Add: [-xc-header, -std=c99]